/* ==UserStyle==
@name RGU Glassmorphism - Developer Preview
@namespace roblox.com
@description  In-dev version of RGU Glassmorphism (potentially unstable)
@version 1.1.0-dev
==/UserStyle== */
@-moz-document domain("roblox.com") {
    .effect2:before {
        background: radial-gradient(circle, rgb(252, 104, 111) 0%, rgb(252, 104, 111) 50%, rgb(252, 104, 111) 100%)
    }

    .effect2:after {
        background: radial-gradient(circle, rgb(252, 104, 111) 0%, rgb(252, 104, 111) 50%, rgb(252, 104, 111) 100%)
    }

    .profile-banner.profile-banner-long {
        box-shadow: 0px 2px 20px rgba(0, 0, 0, .25);
        background-image: url("https://media.discordapp.net/attachments/1192530801556992045/1192562143338430614/Banner.png?ex=65a9870b&is=6597120b&hm=dfe1cefa37293ae9bf8e38f95d704768d692c46dfe300566f07fd49c906419c9&=&format=webp&quality=lossless&width=1440&height=302") !important;
    }

    .quick-play {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .leaderboard-btn,
    .rewards-btn {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .thumbnail-2d-container img {
        width: 100%;
        height: 100%;
        transition: opacity .5s ease;
        opacity: 1;
    }

    #game-details-play-button-container button {
        background-color: #fc686f !important;
    }

        #game-details-play-button-container button:hover {
            box-shadow: 0px 2px 20px rgba(252, 104, 111, .25) !important;
            transition: all .2s;
        }

    .navbar-search {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .btn-growth-sm:hover {
        background-color: #fc686f !important;
        border-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgba(252, 104, 111, .25);
        transition: all .2s;
    }

    .btn-growth-sm {
        background-color: #fc686f !important;
        border-color: #fc686f !important;
        transition: all .2s;
    }

    .chat-header-action .notification {
        color: #fff !important;
        background: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .store-card img {
        border-radius: 50%;
        box-shadow: 0px 2px 20px rgba(252, 104, 111, .25);
    }

    .dark-theme .content {
        background: rgb(252, 124, 92);
        background: linear-gradient(45deg, rgba(252, 124, 92, 1) 0%, rgba(252, 132, 92, 1) 12%, rgba(252, 124, 92, 1) 25%, rgba(252, 132, 84, 1) 40%, rgba(252, 140, 70, 1) 52%, rgba(252, 114, 99, 1) 63%, rgba(252, 99, 112, 1) 74%, rgba(252, 148, 71, 1) 87%, rgba(253, 200, 48, 1) 100%) !important;
    }

    #container-main {
        background: rgb(252, 124, 92);
        background: linear-gradient(45deg, rgba(252, 124, 92, 1) 0%, rgba(252, 132, 92, 1) 12%, rgba(252, 124, 92, 1) 25%, rgba(252, 132, 84, 1) 40%, rgba(252, 140, 70, 1) 52%, rgba(252, 114, 99, 1) 63%, rgba(252, 99, 112, 1) 74%, rgba(252, 148, 71, 1) 87%, rgba(253, 200, 48, 1) 100%) !important;
    }

        #home-header.home-header-long,
        #container-main .section.profile-header {
            background: rgba(255, 255, 255, .35) !important;
            backdrop-filter: blur(10px) !important;
        }

        #container-main > .content {
            background: rgba(255, 255, 255, 0) !important;
        }

    #people-list-container .section-content,
    .profile-slide-container {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .game-carousel {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    #navigation {
        background: rgba(255, 255, 255, .3) !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 10px;
        height: 800px;
        padding-top: 50px;
        margin-top: 65px;
        margin-left: 10px
    }

    #header {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .profile-display-name {
        text-color: #ff6000 !important;
    }

    .dark-theme {
        background: #fc686f !important;
    }

        .dark-theme .text,
        scription,
        .dark-theme .text-footer,
        .dark-theme .text-info,
        .dark-theme .text-label,
        .dark-theme .text-secondary,
        .dark-theme p {
            color: #fff !important;
        }

    #horizontal-tabs,
    .rbx-tabs-horizontal > .nav-tabs {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .rbx-tab-heading.active {
        background: rgb(253, 200, 48);
        background: linear-gradient(45deg, rgba(252, 124, 92, 1) 0%, rgba(252, 132, 92, 1) 12%, rgba(252, 124, 92, 1) 25%, rgba(252, 132, 84, 1) 40%, rgba(252, 140, 70, 1) 52%, rgba(252, 114, 99, 1) 63%, rgba(252, 99, 112, 1) 74%, rgba(252, 148, 71, 1) 87%, rgba(253, 200, 48, 1) 100%) !important;
    }

    .game-main-content {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .fav-buttons {
        background: rgb(255 0 127 / 21%);
    }

    .users-vote {
        border-radius: 10px;
        background: rgb(255 0 127 / 21%);
    }

    .game-creator .text-name {
        color: #ffffff !important;
    }

    li.rbx-tab.active .rbx-tab-heading .text-lead,
    li.rbx-tab:hover .rbx-tab-heading .text-lead,
    .rbx-tab-heading.active .text-lead {
        background-color: #fc686f !important;
    }

    .rank-num {
        color: #fc686f !important;
    }

    body[data-internal-page-name=Home] .left-col-list li:nth-child(1),
    body[data-internal-page-name=Profile] .left-col-list li:nth-child(2),
    body[data-internal-page-name=Messages] .left-col-list li:nth-child(3),
    body[data-internal-page-name=Friends] .left-col-list li:nth-child(4),
    body[data-internal-page-name=Avatar] .left-col-list li:nth-child(5),
    body[data-internal-page-name=Inventory] .left-col-list li:nth-child(6),
    body[data-internal-page-name=Trades] .left-col-list li:nth-child(7),
    body[data-internal-page-name=GroupDetails] .left-col-list li:nth-child(8) {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .left-col-list li:not([class]):hover {
        background-color: #fc686f;
        transition: all .2s;
    }

    .popover {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .dropdown-menu {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    body.dark-theme {
        background: #fc686f !important;
        text-secondary: #fff !important;
    }

    .real-game-pass {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    #wrap button.btn-control-sm,
    #wrap .btn-control-xs {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    #wrap .btn-control-xs {
        color: #f8f9ff !important;
    }

    .dark-theme .modal-dialog .modal-content {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .level-up-game {
        background: rgba(252, 124, 92, 0) !important;
        backdrop-filter: blur(10px) !important;
    }

    .group-header {
        background-color: #fb785b;
    }

    .shout-container {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .configure-group-description textarea,
    .input-field {
        background: rgba(252, 124, 92, 0) !important;
        backdrop-filter: blur(10px) !important;
        border: 2px solid #fecdb2 !important;
    }

    .group-form-button.btn-secondary-md,
    #group-join-button {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .dark-theme .chat-container .chat-main {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .chat-container:not(.collapsed) .chat-main {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .chat-header {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .chat-container.collapsed .chat-header .chat-header-label {
        background: rgb(255 255 255 / 0%) !important;
    }

    #avatar-container .tab-horizontal-submenu {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .dark-theme .messages .messageDivider.unread {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        margin-bottom: 2px;
        border-radius: 10px;
    }

    .messageDivider.read {
        background: rgba(153, 153, 153, .35) !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 10px;
        margin-bottom: 2px;
    }

    .dark-theme .container-empty,
    .dark-theme .section-content-off {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        margin-bottom: 2px;
        border-radius: 10px;
    }

    .section-content-off {
        color: #fff !important;
    }

    .dark-theme .messages .messageDivider.unread .message-summary-body .subject {
        color: #fff !important;
    }

    .dark-theme .message-summary-content,
    .dark-theme .message-summary-content .subject {
        color: #fff !important;
    }

    .dark-theme .message-detail {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        margin-bottom: 2px;
        border-radius: 10px;
    }

    .dark-theme .messages .messageDivider {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        margin-bottom: 2px;
        border-radius: 10px;
    }

    .dark-theme .catalog-container .sticky .search-bars {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 10px;
    }

    .dark-theme .catalog-container .sticky .topic-container {
        background: rgba(255, 255, 255, 0) !important;
    }

    .dark-theme .topic-container .topic-carousel .unselected-topic {
        color: #fff !important;
    }

    h1 {
        margin-left: 10px;
    }

    .layer {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 10px;
    }

    #vertical-menu {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .rbx-tab-content .section {
        background: rgba(255, 255, 255, 0) !important;
    }

    .form-group .text-label,
    .account-previous-usernames span:first-child {
        background: rgba(255, 255, 255, 0) !important;
    }

    .dark-theme .passkey-upsell-banner {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .rbx-tab-content .section {
        border-radius: 10px;
        margin-bottom: 4px;
    }

    .game-carousel,
    .hlist.game-cards:not(.group-list),
    .badge-list {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .dark-theme .section-content {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 10px;
    }

    .group-wall .group-form {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .rbx-scrollbar:not(.mCS_no_scrollbar) .mCSB_inside > .mCSB_container {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .mCSB_scrollTools .mCSB_draggerContainer {
        background: rgba(255, 255, 255, 0) !important;
    }

    #navigation .avatar-headshot-xs {
        background-color: #fc686f !important;
    }

    .dark-theme .table {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 10px;
    }

    .input-dropdown-btn:not(#popover-link),
    .rbx-select {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .dark-theme .btn-growth-md {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .rbx-navbar.hidden-xs li:nth-child(1):hover {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .rbx-navbar.hidden-xs li:nth-child(2):hover {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .rbx-navbar.hidden-xs li:nth-child(3):hover {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .rbx-navbar.hidden-xs li:nth-child(4):hover {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .rbx-navbar.hidden-xs li:nth-child(5):hover {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .rbx-navbar.hidden-xs li:nth-child(6):hover {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .bFBHeO {
        border-radius: 5px !important;
    }

    body.dark-theme {
        --background: #fc686f !important;
        --text-secondary: #ffffff;
    }

    body[data-internal-page-name=Games] .rbx-navbar li:nth-child(1),
    body[data-internal-page-name=Catalog] .rbx-navbar li:nth-child(2),
    body[data-internal-page-name=Create] .rbx-navbar li:nth-child(3),
    body[data-internal-page-name=RedeemGiftCard] .rbx-navbar li:nth-child(5),
    body[data-internal-page-name=PromoCodes] .rbx-navbar li:nth-child(6) {
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    #discover-top .featured-games .featured-games-info .game-banner .game-banner-info {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .games-navigate:hover {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .games-navigate {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    #discover-categories > .section > .game-list > .game-entry:hover > .game-basic-info {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    #discover-top .friend-activity > .activity-list > .activity-item {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    #discover-categories .category-title {
        color: #fff !important;
    }

    .rbx-scrollbar:not(.mCS_no_scrollbar) .mCSB_inside > .mCSB_container {
        margin-top: 5px;
        border-radius: 10px;
    }

    #main-view .catalog-results .list-item.item-card {
        border: 0px solid #fff !important;
    }

    .dark-theme .item-card-container .item-card-thumb-container {
        background-color: rgb(248 252 255 / 50%);
    }

    .dark-theme .item-card .item-card-thumb-container:before {
        background: radial-gradient(transparent, rgb(255 120 0 / 30%));
    }

    .dark-theme .btn-primary-md {
        background-color: #fc686f !important;
        border-color: #fc686f !important;
        color: #fff !important;
    }

        .dark-theme .btn-primary-md:hover {
            box-shadow: 0px 2px 20px rgb(252 104 111) !important;
        }

    .dark-theme .shopping-cart-modal-container .shopping-cart-modal {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .dark-theme .subscription-card-item {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .rbx-tab-content .section,
    .tab-pane {
        background: rgba(255, 255, 255, 0) !important;
    }

    #vertical-menu,
    .settings-left-navigation > ul {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .ultimate-menu {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .ult-update-log-item {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    ::-webkit-scrollbar-track {
        background: rgb(255 81 81 / 20%) !important;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(255 255 255 / 50%) !important;
        border-radius: 5px;
    }

    .dark-theme .container-footer {
        background: rgba(255, 255, 255, 0);
    }

    .dark-theme .btn-growth-md:focus .btn-growth-md:hover .btn-growth-md {
        border-color: rgba(255, 255, 255, 0);
    }

    .power-search {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

        .power-search .power-search-results > .power-search-game:hover {
            background-color: #fc686f !important;
            box-shadow: 0px 2px 20px rgb(252 104 111) !important;
        }

    .btn-control-md {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .power-search-group .group-button {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .dark-theme .friends-content .avatar-card-content {
        background: rgb(255 255 255 / 50%) !important;
        border-radius: 5px;
    }

    .dark-theme .avatar-card-btns {
        background: rgb(255 255 255 / 50%) !important;
        border-radius: 5px;
    }

    .btn-secondary-md {
        background-color: #ff7700 !important;
        box-shadow: 0px 2px 20px #f70 !important;
    }

    .dark-theme .avatar-card-btns .accept-friend,
    .dark-theme .avatar-card-btns .accept-friend:hover .accept-friend:focus {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
        color: #fff !important;
    }

        .dark-theme .avatar-card-btns .accept-friend:focus,
        .dark-theme .avatar-card-btns .accept-friend:hover {
            color: #fff !important;
        }

    .header-details {
        background: rgb(255 255 255 / 50%) !important;
        border-radius: 5px;
    }

    .rbx-tab-content .section,
    .tab-pane {
        background: rgb(255 255 255 / 0%) !important;
    }

    .section.profile-about.ng-scope {
        background-color: #c9c9c900 !important;
    }

    .dark-theme .section-content {
        background: rgb(255 255 255 / 0%) !important;
    }

    .canvas-bg {
        background: rgb(255 255 255 / 50%) !important;
        border-radius: 5px;
    }

    .slide-switcher {
        background: rgb(255 255 255 / 50%) !important;
        border-radius: 5px;
    }

    .dark-theme .btn-growth-md:focus,
    .dark-theme .btn-growth-md:hover {
        border-color: #00b06f00;
    }

    .dark-theme .avatar-card-container {
        background-color: #393b3d00;
    }

    .btn-growth-md {
        border: 0px solid #393b3d00 !important;
    }

    div.leaderboard-container {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .lb-category.lb-selected {
        color: #fc686f;
        background: #fc686f40;
    }

    .dark-theme .table-striped > tbody > tr:nth-child(2n) > td,
    .dark-theme .table-striped > tbody > tr:nth-child(2n) > th {
        background: rgba(255, 255, 255, 0) !important;
    }

    .dark-theme .menu-vertical .menu-option .menu-option-content {
        color: #ffffff;
    }

    #vertical-menu,
    .settings-left-navigation > ul {
        border-radius: 5px !important;
    }

    .menu-vertical .menu-option .menu-option-content.active,
    .menu-vertical .menu-option .menu-option-content:active,
    .menu-vertical .menu-option .menu-option-content:focus,
    .menu-vertical .menu-option .menu-option-content:hover {
        box-shadow: inset 4px 0 0 0 #fff1f1;
    }

    .dark-theme :focus,
    .dark-theme :focus-visible {
        outline-color: #ffffff !important;
    }

    .dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body .notification-stream-scrollbar .notification-stream-list {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .search-options {
        margin-left: 5px;
    }

    .dark-theme .item-details-thumbnail-container .thumbnail-holder {
        background-color: rgb(255 255 255 / 50%);
    }

    .dark-theme .thumbnail-2d-container {
        border: 0;
        background-color: rgb(255 194 173);
        border-color: #ffffff;
    }

    .dark-theme .stack .stack-list .stack-row {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 8px;
    }

    .dark-theme .virtual-event-detail-container .hero-background-section {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .dark-theme .item-thumbnail-container .asset-thumb-container {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 8px;
    }

    .related-asset-container {
        background-color: rgb(255 255 255 / 25%);
        border-radius: 8px;
    }

    .group-cards {
        border-radius: 7px;
        background-color: #ffffff00 !important;
    }

    #creations .item-list img {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .dark-theme .tab-horizontal-submenu li.active, .dark-theme .tab-horizontal-submenu li:hover {
        color: #fff;
        background-color: #fc686fc9;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    #avatar-filters .filter-text {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .dark-theme .trade-row {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 5px;
        margin-top: 4px;
    }

    .dark-theme .message-banner {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 5px;
        color: #fff;
    }

    .premium-container .page-refined {
        border-radius: 6px;
        background-image: linear-gradient(0deg,rgb(255 255 255 / 50%),rgb(255 255 255 / 50%)),url(https://images.rbxcdn.com/9a75b12…-premium_title_bg.jpg) !important;
    }

    #home-header.home-header-long, #container-main .section.profile-header {
        background: rgb(255 255 255 / 8%) !important;
        backdrop-filter: blur(10px) !important;
    }

 /* WIP THINGS */
    .dark-theme .dropdown-menu li {
        color: #ffffff;
    }

    .comment.list-item {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
    }

    .dark-theme .container-empty,
    .dark-theme .section-content-off {
        color: #ffffff;
    }

    .dark-theme .text,
    .dark-theme .text-date-hint,
    .dark-theme .text-default,
    .dark-theme .text-description,
    .dark-theme .text-footer,
    .dark-theme .text-info,
    .dark-theme .text-label,
    .dark-theme .text-secondary,
    .dark-theme p {
        color: #ff5d00;
    }

    .dark-theme .carousel-control {
        background-color: #fc686f;
        border-color: #fc686f;
    }

    .dark-theme .carousel-control:hover {
        background-color: #fc686f;
        border-color: #fc686f;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .profile-view-selector {
        background: #fc686f !important;
    }

    .dark-theme .notification-stream-header,
    .notification-stream-header.dark-theme {
        background-color: #fc686f !important;
    }

    .dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body,
    .dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body .container-empty,
    .dark-theme .new-notification-stream-2022 .notification-stream-container .notification-content-view .notification-stream-body .notification-stream-loading {
        background-color: #11121400 !important;
    }

    .dark-theme #buy-robux-popover-menu li a,
    .dark-theme #settings-popover-menu li a {
        color: #ffffff;
    }

    .search-options-form input.input-field,
    .search-options-form .btn-update-filter {
        background: rgba(255, 255, 255, .35) !important;
        backdrop-filter: blur(10px) !important;
        color: rgb(255 255 255) !important;
    }

    .dark-theme .radio label:before {
        background-color: #fc686f !important;
        border: 0px solid #fff !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
    }

    .dark-theme .topic-container .topic-carousel .selected-topic,
    .light-theme .topic-container .topic-carousel .selected-topic {
        background-color: #fc686f !important;
        box-shadow: 0px 2px 20px rgb(252 104 111) !important;
        color: #fff !important;
    }

    #item-details .price-row-container:not(:has(.text-robux-lg.disabled)) .price-container-text .price-info > .item-purchase-btns-container .PurchaseButton {
        background: #ff9d00 !important;
        box-shadow: 0px 2px 20px #ff9d00 !important;
        border: 0px solid #fff !important;
    }
